
@{
    ViewData["Title"] = "Index";
}

<h1>@ViewData["Greetings"]</h1>


<div>@ViewData["Name"]</div>


<div>The Time is @ViewData["Time"] on @ViewData["Date"]</div>
<div>There are @ViewData["DaysLeft"] days in 2017</div>

<a href="~/Views/Home/Items.cshtml">PAGE 2</a>